.root {
    -fx-background-color: White;
}

.label {
    -fx-text-fill: MidnightBlue;
    -fx-text-size: 15pt;
    -fx-fount-weight: bold;
}

.button {
    -fx-background-color: DARKGOLDENROD;
    -fx-text-fill: White;
}

.button:hover{
	-fx-opacity: 0.7;
}

